AddType application/manifest+json .webmanifest

<IfModule mod_headers.c>
  <FilesMatch "^(app\.webmanifest|sw\.js)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </FilesMatch>
</IfModule>
